[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reflex = ">=0.6"
pulp = ">=2.8"
influxdb = ">=5.3.2"
requests = "*"
numpy = "*"
pandas = "*"
apscheduler = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
